seeq
ipywidgets >= 7.6.3
IPython >= 7.29.0
ipyvuetify >= 1.8.0
jupyter>=1.0.0
rx>=3.2.0
parver>=0.3.1
wheel>=0.37.0
pytest>=6.2.4
traitlets>=5.1.0
setuptools~=57.4.0
mixpanel>=4.9.0
typeguard>=2.13.0
appmode>=0.8.0
Markdown>=3.3.6
unmarkd==0.1.7
sphinx>=4.4.0
sphinx-rtd-theme>=1.0.0
myst-parser>=0.17.0
twine>=3.8.0
